<div class="container dimension1" style="border: 0px;">
    <div class="container dimension2">
        <div class="container dimension3">
            <div class="container dimension4">
                <div class="container dimension5">
                    <div class="container dimension6">
                        <div class="rotate">
                            <h2>This is the banner data</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>