.container {
    /* background-color: green; */
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.container > div {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 0px;
    padding: 20px;
    background: #909497;
    color: #FBFCFC;
    height: 70px;
    border-radius: 3px;
}

.btn:hover {
    background: #D7DBDD;
    color: #1B2631;
}