<header class="nav-bar">
    <ul class="nav-list">
        <li class="nav-item"><a routerLink="route-a" routerLinkActive="active">Route A</a></li>
        <li class="nav-item"><a routerLink="route-b" routerLinkActive="active">Route B</a></li>
        <li class="nav-item"><a routerLink="route-c" routerLinkActive="active">Route C</a></li>
        <li class="nav-item"><a routerLink="route-d" routerLinkActive="active">Route D</a></li>
        <li class="nav-item"><a routerLink="route-e" routerLinkActive="active">Route E</a></li>
        <li class="nav-item"><a routerLink="route-f" routerLinkActive="active">Route F</a></li>
    </ul>
</header>