<div class="container">
    <!-- <button class="button" (click)="isGrid=true"
        [ngStyle]="{'background-color': isGrid ? 'cornflowerblue' : 'white'}">Grid</button>
    <button class="button" (click)="isGrid=false" style="margin-right: 5px;"
        [ngStyle]="{'background-color': !isGrid ? 'cornflowerblue' : 'white'}">List</button> -->
    <!-- <h2>Content</h2> -->

    <div class="btn-box">
        <!-- <div class="btn" [ngStyle]="{'left.px': isGrid ? '0' : '100'}"></div> -->
        <button style="border-radius: 20px 0px 0px 20px;" [class.clicked]="isGrid" class="btn-toggle"
            (click)="isGrid=true">Grid</button>
        <button style="border-radius: 0px 20px 20px 0px;" [class.clicked]="!isGrid" class="btn-toggle"
            (click)="isGrid=false">List</button>
    </div>

    <select [(ngModel)]="selectedOrder" (change)="sortProducts()">
        <option>Price - Low to High</option>
        <option>Price - High to Low</option>
    </select>
    <!-- <p>{{selectedOrder}}</p> -->
</div>

<div class="loader" *ngIf="productData.length===0">
    <h4>Be patient, the data will be loaded soon....</h4>
</div>

<div class="body" [ngClass]="{
    'grid-view':isGrid,
    'list-view':!isGrid
}">
    <div class="card" *ngFor="let data of productData">
        <div>
            <img [src]="data.image" class="image">
            <h4>
                {{data.title}}
            </h4>
            <p><strong>Price(USD): </strong>{{data.price}}</p>
            <div class="tooltiphover">
                <p><strong>Description: </strong>{{data.description | shorten}}</p>
                <p class="tooltipdata">{{data.description}}</p>
            </div>
            <p><strong>Category: </strong>{{data.category}}</p>
            <p>Rated <strong>{{data.rating["rate"]}}</strong> by <strong>{{data.rating['count']}}</strong> people.</p>
        </div>
    </div>

</div>