<div class="container">
    <!-- <button class="button" (click)="isGrid=true"
        [ngStyle]="{'background-color': isGrid ? 'cornflowerblue' : 'white'}">Grid</button>
    <button class="button" (click)="isGrid=false" style="margin-right: 5px;"
        [ngStyle]="{'background-color': !isGrid ? 'cornflowerblue' : 'white'}">List</button> -->
    <!-- <h2>Content</h2> -->

    <div class="btn-box">
        <!-- <div class="btn" [ngStyle]="{'left.px': isGrid ? '0' : '100'}"></div> -->
        <button style="border-radius: 30px 0px 0px 30px;" [class.clicked]="isGrid" class="btn-toggle"
            (click)="isGrid=true">Grid</button>
        <button style="border-radius: 0px 30px 30px 0px;" [class.clicked]="!isGrid" class="btn-toggle"
            (click)="isGrid=false">List</button>
    </div>

    <select [(ngModel)]="selectedOrder" (change)="sortPrices()">
        <option>Price - Low to High</option>
        <option>Price - High to Low</option>
    </select>
    <!-- <p>{{selectedOrder}}</p> -->
</div>
<div class="body" [ngClass]="{
    'grid-view':isGrid,
    'list-view':!isGrid
}">
    <div class="card" *ngFor="let price of productPriceShow">
        <img src="../../../assets/images/product.jpg" alt="product image" width="250px" height="100px">
        <br>
        <br>
        <strong>Price: </strong>
        <span>{{price}}</span>
    </div>
</div>